:root{
    --fondo: #d3d3d3;
    --fondo-login: #13232fe6;
    --color-letra: #fff;
    --color-boton: #000000;
    --fondo-boton: #4CAF50;
    --color--links: #000000;
}

body{
    background-color: var(--fondo);
}