.login__form{
    color: var(--color-letra);
}

label {
    display: block;
    margin-bottom: 8px;
    border: none;
}
  
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.boton{
    background-color: var(--fondo-boton);
    border: none;
    border-radius: 5px;
    color: var(--color-letra);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 16px;
    cursor: pointer;
}

.boton:hover{
    transition: all .2s;
    background-color: var(--fondo);
    color: var(--color-boton);
    box-shadow: 0 0 50px rgba(47, 196, 10, 0.5);
}